<h3>Hello world from votes component!</h3>
<div *ngFor="let userVote of userVotes">
    <img [src]="userVote.image" alt="user-img-{{userVote.username}}" width="20px" />
    <span> {{userVote.username}} • {{ emojify(userVote.vote) }}</span>
</div>
