<h3>The current votes standings are as follow:</h3>
<p>Elon Musk 🦨 : {{muskCount}}</p>
<p>Mark Zuckerberg 🤖 : {{ zuckCount }}</p>

<h4>Please give a username to vote:</h4>
<label>Username: <input type="text" name="username" (change)="setUsername($event)"></label> 

<app-vote-form [username]="username" (voteEvent)="handleVoteReceived($event)"></app-vote-form>
