<div *ngIf="username.length > 0">
    <h2>Welcome {{username}}, who do you think will win?</h2>
    <form #voteForm="ngForm" (ngSubmit)="onSubmit(voteForm)">
        <label>
            <input type="radio" value="musk" name="vote" ngModel (click)="setSelectedVote($event)">
            🦨 Elon Musk
        </label>
        <br>
        <label>
            <input type="radio" value="zuck" name="vote" ngModel (click)="setSelectedVote($event)">
            🤖 Mark Zuckerberg
        </label>
        <br>
        <p *ngIf="selectedVote">You are voting for: {{selectedVote}}</p>
        <br>
        <button type="submit" [disabled]="voteForm.form.invalid || !selectedVote">Submit your vote!</button>
    </form>
</div>
