<main>
  <img src="assets/images/header_image.png" height="100px" alt="header_image" />
  <h1>Vote Now! (but Angular)</h1>
  <div>
    <nav>
      <li><a routerLink="/">🏠 Home</a></li>
      <li><a routerLink="/votes">📝 Votes</a></li>
      <li><a routerLink="/token">🪙 Token</a></li>
      <li *ngIf="!loggedin">
        <button (click)="keycloakLogin()">Login</button>
      </li>
      <li *ngIf="loggedin">
        <button (click)="keycloakLogout()">Logout</button>
      </li>
      <li *ngIf="username">Hello, {{ username }}!</li>
    </nav>
  </div>
  <router-outlet></router-outlet>
</main>
